// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

@import "core/breakpoints";
@import "core/colors";

// Mixins
%justify {
  // Distrubte Content Evenly
  font-size: 0.1px;
  text-align: justify;

  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}

@mixin vertical-align($element: '.v-center'){
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.280em; /* Adjusts for spacing */
  }
  > #{$element} {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

// Common Elements
fieldset {
  margin: 0;
  padding: 0;
  display: block;
  border: 0;
}

.hamburger {
  width: 20px;
  margin-right: 16px;
  vertical-align: middle;
  position: relative;
  display: none;

  > span {
    background: $white;
    display: block;
    height: 2px;
    margin: 5px 0;
    position: relative;
    transform: rotate( 0 );
    top: 0;
    left: 0;
    opacity: 1;
    transition: none 0.5s ease;
    transition-property: transform, top, left, opacity;
  }

  @include media($mobile) {
    display: inline-block;
  }

  @include media($tablet) {
    display: inline-block;
  }
}

html.slideout-open {
  .hamburger {
    span.top-bar {
      transform: rotate( 45deg );
      top: 7px;
    }
    span.middle-bar {
      opacity: 0;
      left: -40px;
    }
    span.bottom-bar {
      transform: rotate( -45deg );
      top: -7px;
    }
  }
}

// Components
.panel {
  padding: 16px;
  background: $white;
  box-shadow: 0 1px 4px 0 rgba($black, 0.3);
  position: relative;
}

.list-cars {
  margin: 0;
  padding: 0;
  list-style: none;
  @extend %justify;

  > li {
    width: 333px;
    height: 333px;
    margin-bottom: 32px;
    display: inline-block;
    font-size: initial;

    .panel {
      width: 100%;
      height: 100%;
      h3 {
        width: 40%;
        margin: 0;
        position: absolute;
        top: 16px;
        left: 16px;
        font-weight: normal;
        font-size: 18px;
        color: $gray;
        line-height: 1;
      }
      p.price {
        width: 50%;
        text-align: right;
        margin: 0;
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 18px;
        color: $gray;
        line-height: 1.3;
      }
      img {
        width: 250px;
        margin: 0 auto;
        display: block;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
      }
    }

    @include media($mobile) {
      width: 100%;
      height: 260px;

      .panel {
        img {
          width: 200px;
        }
      }
    }
  }
}

.filters {
  width: 100%;
  padding: 16px;

  form {
    margin: 0;
    padding: 0;
    display: block;

    fieldset {
      margin-bottom: 20px;
      @extend %justify;

      .label {
        display: inline-block;
        color: $primary-dark-teal;
        font-size: 12px;
        vertical-align: middle;
      }
    }

    .value-row {
      @extend %justify;

      .price {
        width: 63%;
        display: inline-block;
      }

      .percent {
        width: 30%;
        display: inline-block;
      }
    }
  }

  label {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    color: $gray;
  }

  .input-text {
    height: 40px;
    padding: 0 0 0 16px;
    margin-bottom: 20px;
    border: 1px solid $gray;
    border-radius: 2px;
    position: relative;

    &.price {
      &:before {
        content: "$";
        display: inline-block;
        font-size: 14px;
        position: relative;
        top: -1px;
        left: -5px;
        color: $gray;
      }
    }

    &.percent {
      padding: 0 5px 0 8px;
      &:after {
        content: "%";
        display: inline-block;
        font-size: 14px;
        position: relative;
        top: -1px;
        left: -5px;
        color: $gray;
      }
    }
  }

  input[type=text] {
    width: calc(100% - 16px);
    height: 100%;
    padding: 16px 0;
    border: none;
    font-size: 16px;
    color: $dark-teal;
    outline: none;
  }

  .range {
    width: 100%;
    max-width: 150px;
    margin-left: -15px;
    height: 4px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $gray;
    background: $white;

    .ui-slider-range {
      background: $primary-dark-teal;
    }

    .ui-slider-handle {
      height: 16px;
      width: 16px;
      border-radius: 100%;
      background: $primary-dark-teal;
      border: none;
      margin-top: -6px;
      cursor: pointer;
      outline: none;
    }
  }

  @include media($mobile) {
    height: 100%;
  }

  @include media($tablet) {
    height: 100%;
  }
}

// Layout
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: $primary-tint;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.main-container {
  width: 100%;
  height: 100%;
  background: $primary-tint;
}

nav {
  @include media($mobile) {
    background: rgba($primary-orange, 0.3);
  }

  @include media($tablet) {
    background: rgba($primary-orange, 0.3);
  }

  @include media($laptop) {
    &.slideout-menu {
      width: 262px;
      position: fixed;
      top: 64px + 32px;
      left: 0;
      display: inline-block !important;
      z-index: 10;
    }
  }

  @include media($laptop-large) {
    &.slideout-menu {
      width: 262px;
      position: fixed;
      top: 64px + 32px;
      left: 0;
      display: inline-block !important;
      z-index: 10;
    }
  }
}

header {
  width: 100%;
  margin-bottom: 32px;
  padding: 16px;
  background: $primary-teal;
  box-shadow: 0 1px 4px 0 rgba($black, 0.3);

  @include media($mobile) {
    padding: 10px 16px;
  }
}

h1 {
  margin: 0;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  color: $white;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;

  @include media($mobile) {
    font-size: 18px;
  }
}

h2 {
  margin: 0;
  line-height: 1;
}

main {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .available-cars {
    max-width: 698px;
    display: inline-block;
    text-align: left;
  }

  @include media($mobile) {
    padding: 0 16px;
  }

  @include media($laptop) {
    padding-left: 262px;
  }
}
