// Standard Colors
$white: #fff;
$black: #000;
$gray: #848c8b;
$dark-teal: #153d39;

// Brand Colors
$primary-teal: #76bcc2;
$primary-dark-teal: #31766f;
$primary-tint: #E4F2F3;
$primary-orange: #ff8a65;
